<template v-slot:header>
	<div>
		<router-link to="/">
			<v-btn color="secondary" width="80" style="margin-right: 16px">
				Home
			</v-btn>
		</router-link>

		<v-btn @click="logout" color="secondary" width="80"> Logout </v-btn>
	</div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
	name: 'HeaderForm',

	methods: {
		...mapMutations(['clearTasks', 'clearPages']),

		async logout() {
			await this.$store.dispatch('logout')
			this.clearTasks()
			this.clearPages()
			this.$router.push('/auth')
		},
	},
}
</script>
