<template>
	<div class="block">
		<div v-if="loading">
			<v-skeleton-loader
				v-for="i in getShowCount()"
				height="100"
				type="list-item-two-line"
				:key="i"
			/>
		</div>

		<div v-if="!loading && tasks.length === 0">
			<p>You still have no tasks!</p>
			<router-link to="/new-task">
				<v-btn color="primary">create task!</v-btn>
			</router-link>
		</div>

		<v-expansion-panels v-if="!loading && tasks.length" focusable accordion tile multiple>
			<Task
				v-for="(task, i) in tasks"
				:taskNum="i"
				:taskPage="page"
				:task-id="task.id"
				:title="task.title"
				:text="task.text"
				:isChecked="task.is_checked"
				:isImportant="task.is_important"
				:key="i"
			/>
		</v-expansion-panels>
	</div>
</template>

<script>
import Task from '../task'
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
	name: 'TaskList',
	data: () => ({
		tasks: [],
		page: 1,
		loading: true,
	}),

	computed: {
		showCount() {
			return this.getShowCount()
		},
	},

	watch: {
		async $route() {
			this.page = +this.$route.params.page
			this.loading = true
			await this.getTasksFromServer()
		},
	},

	methods: {
		...mapActions(['fetchSomeTasks']),
		...mapGetters(['getTasks', 'getTasksCount', 'getFetchStatus', 'getShowCount']),
		...mapMutations(['clearTasks', 'addChange']),

		async getTasksFromServer() {
			const fetchedPages = this.getFetchStatus()

			if (fetchedPages.has(this.page)) {
				this.loading = false
				this.tasks = this.getPageTasks()
				return
			}

			try {
				await this.fetchSomeTasks({
					page: this.page,
					count: this.getShowCount(),
				})

				await setTimeout(() => {
					this.tasks = this.getPageTasks()
					this.loading = false
				}, 1000)
			} catch (err) {
				this.errorText = err.message
				this.snackbar = true
				this.loading = false
			}
		},

		getPageTasks() {
			const tasks = this.getTasks()
			const start = this.getShowCount() * (this.page - 1)

			return tasks.slice(start, start + this.getShowCount())
		},
	},

	components: { Task },

	async mounted() {
		this.page = +this.$route.params.page

		await this.getTasksFromServer()

		const taskCount = this.getTasksCount()
		console.log(this.page)
		if (
			this.page < 1 ||
			(this.page > Math.ceil(taskCount / this.getShowCount()) && taskCount > 0)
		) {
			this.$router.push('/tasks/1')
		}
	},
}
</script>

<style lang="scss" scoped>
.block {
	margin-bottom: 20px;
}
</style>
