<template>
	<div class="tasks-layout">
		<v-app-bar class="header" color="primary">
			<slot name="header"></slot>
		</v-app-bar>

		<div class="content-wrapper content-wrapper_centered">
			<slot name="content"></slot>
		</div>
	</div>
</template>

<script>
export default {
	name: 'TasksLayout',
}
</script>

<style lang="scss" scoped>
.tasks-layout {
	height: 100%;
}

.header {
	padding: 0 20px;
}

.content-wrapper_centered {
	max-width: 960px;
	width: 100%;
	height: 100%;
	padding: 0 24px;
	margin: 0 auto;
}
</style>
