<template>
	<v-form class="auth-form auth-form_at-top" @submit.prevent="onSubmit" >
		<h1>Autorization</h1>
		<v-text-field label="login" v-model="login" required :rules="loginRules" />
		<v-text-field type="password" label="password" v-model="password" required :rules="passwordRules" />

		<v-progress-circular
			class="loading-bar loading-bar_centered"
			size="50"
			v-if="loading"
			indeterminate
		/>

		<div class="btn-group">
			<v-btn color="primary" type="submit" value="in">Sign In</v-btn>
			<v-btn color="secondary" type="submit" value="up">Sign Up</v-btn>
		</div>

		<v-snackbar v-model="snackbar" :timeout="5000">
			{{ errorText }}

			<v-btn @click="snackbar = false" icon>
				<v-icon>mdi-close-box</v-icon>
			</v-btn>
		</v-snackbar>
	</v-form>
</template>

<script>
import { mapActions } from 'vuex'
import router from '@/router'

export default {
	name: 'AuthForm',
	data: () => ({
		login: '',
		loginRules: [value => !!value || 'Login is required!'],

		password: '',
		passwordRules: [
			value => !!value || 'Password is required!',
			value => value.length >= 6 || 'Password must be at least 6 characters!',
		],

		loading: false,
		errorText: '',
		snackbar: false,
	}),

	methods: {
		...mapActions(['signIn', 'signUp']),

		async onSubmit(event) {
			try {
				if (!(this.login.trim().length && this.password.length > 5)) {
					throw new Error('Please enter a valid login and password!')
				}

				const data = JSON.stringify({
					login: this.login,
					password: this.password,
				})

				this.loading = true

				if (event.submitter.value === 'in') {
					await this.signIn(data)
				} else await this.signUp(data)

				await setTimeout(() => {
					this.loading = false
					router.push('/')
				}, 2000)
			} catch (err) {
				this.errorText = err.message
				this.snackbar = true
				this.loading = false
			}
		},
	},
}
</script>

<style lang="scss" scoped>
@import '@/common-styles/components/default-form.scss';

.auth-form {
	@include defaultForm();
}

.auth-form_at-top {
	margin-top: -100px;
}

.btn-group {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.loading-bar {
	position: absolute;
}

.loading-bar_centered {
	top: calc(50% - 55px);
}
</style>
