<template>
	<v-form class="create-form" @submit.prevent="onSubmit">
		<v-progress-circular
			size="50"
			class="loading-bar"
			v-if="loading"
			indeterminate
		/>
		<v-text-field
			style="width: 100%"
			outlined
			v-model="title"
			label="Task title"
		/>

		<v-textarea outlined v-model="text" label="Task content" />

		<v-checkbox
			style="align-self: flex-start"
			v-model="important"
			label="important"
		/>

		<div class="btns-container">
			<v-btn
				width="100"
				color="primary"
				type="submit"
				value="add"
				:disabled="loading"
			>
				Add task
			</v-btn>
			<v-btn width="100" color="secondary" @click="getBack" :disabled="loading">
				Back
			</v-btn>
		</div>
	</v-form>
</template>

<script>
export default {
	name: 'TaskForm',

	data: () => ({
		title: '',
		text: '',
		important: false,
		loading: false,
	}),

	methods: {
		async onSubmit(event) {
			if (event.submitter.value === 'add') {
				const task = JSON.stringify({
					title: this.title,
					text: this.text,
					is_important: this.important,
				})

				this.loading = true
				await this.$store.dispatch('addTask', task)

				await setTimeout(() => {
					this.loading = false
					this.clear()
				}, 2000)
			}
		},

		getBack() {
			this.$router.back()
		},

		clear() {
			this.title = ''
			this.text = ''
			this.important = false
		},
	},
}
</script>

<style lang="scss" scoped>
@import '@/common-styles/components/default-form';

.create-form {
	@include defaultForm();
	position: relative;
}

.v-input--selection-controls {
	margin-top: -10px;
}

.btns-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.loading-bar {
	position: absolute;
	top: 25%;
}
</style>
