<template>
	<v-expansion-panel>
		<v-expansion-panel-header>
			<div class="task__header" @click="toggleTask">
				<v-checkbox :label="title" v-model="checkedTask" class="task__title" />

				<div class="task__elements-group">
					<v-icon color="red" v-if="isImportant">mdi-alert-decagram</v-icon>
				</div>
			</div>
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<div class="hidden-content">
				{{ text }}
			</div>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
	name: 'Task',

	data() {
		return {
			checkedTask: this.isChecked,
			changed: false,
			firstRender: true,
		}
	},

	watch: {
		isChecked: function() {
			this.checkedTask = this.isChecked
		},

		checkedTask() {
			if (this.checkedTask === this.isChecked) return

			if (!this.changed) {
				this.changed = true
				this.setChangeStatus(this.changed)
			}

			const index = (this.taskPage - 1) * this.getShowCount() + this.taskNum

			this.addChange({ change: { id: this.taskId, is_checked: this.checkedTask }, index })
		},
	},

	props: {
		title: { type: String, required: true },
		text: { type: String, required: true },
		isImportant: { type: Boolean, required: true },
		isChecked: { type: Boolean, required: true },
		taskId: { type: Number, required: true },
		taskNum: { type: Number, required: true },
		taskPage: { type: Number, required: true },
	},

	methods: {
		...mapGetters(['getShowCount']),
		...mapMutations(['addChange', 'addModifiedTaskId', 'removeTask', 'setChangeStatus']),

		toggleTask(e) {
			if (
				e.target.className !== 'task__header' &&
				e.target.className !== 'v-messages theme--light'
			)
				e.stopPropagation()
		},
	},
}
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
