@import '@/common-styles/fonts/main.scss';

.task__title {
	@include mainText();
}

.task__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.task__elements-group {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.task__important {
	margin-right: 20px;
}

.hidden-content {
	margin-top: 12px;
}