<template>
	<AuthLayout>
		<AuthForm />
	</AuthLayout>
</template>

<script>
import AuthForm from '../../components/auth-form'
import AuthLayout from '../../components/layout'

export default {
	name: 'Auth',
	components: {
		AuthForm,
		AuthLayout
	},
}
</script>
