<template>
	<div class="home-layout">
		<h1 class="main-text-header">Welcome to your task manager!</h1>
		<router-link to="/tasks/1">
			<button class="start-btn" color="primary" type="submit">Start</button>
		</router-link>

		<hr class="underline" />
	</div>
</template>

<script>
export default {
	name: 'Home',

	mounted() {
		document.addEventListener(
			'keydown',
			event => {
				if (event.code === 'Enter') {
					this.$router.push('/tasks')
				}
			},
			{ once: true }
		)
	},
}
</script>

<style lang="scss" scoped>
@import '@/common-styles/layouts/default-form-layout';
@import '@/common-styles/components/default-form';
@import '@/common-styles/fonts/main';

.home-layout {
	@include form-wrapper();
	flex-direction: column;
	justify-content: space-evenly;
}

.welcome-layout {
	@include defaultForm();
	height: 140px;
	justify-content: space-between;
}

.main-text-header {
	@include mainText();
	text-align: center;
}

.start-btn {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: dodgerblue;
	transition: all 0.4s ease-in-out;
	color: white;
	font-size: 20px;
	font-size: bold;

	&:hover {
		transform: scale(1.2);
	}
}

.underline {
	opacity: 0;
}
</style>
