<template>
	<div class="form-container">
		<slot></slot>
	</div>
</template>

<script>
export default {
	name: 'AuthLayout',
}
</script>

<style lang="scss" scoped>
@import '@/common-styles/layouts/default-form-layout';

.form-container {
	@include form-wrapper();
}
</style>
