<template>
	<div class="control-panel">
		<router-link class="control-panel__el" to="/new-task">
			<v-btn class="control-panel__btn" icon>
				<v-icon color="accent">mdi-pen-plus</v-icon>
			</v-btn>
		</router-link>

		<v-btn class="control-panel__el control-panel__btn" @click="saveChanges" icon>
			<v-icon color="primary">{{ saveIcon }}</v-icon>
		</v-btn>
	</div>
</template>

<script>
import axios from 'axios'
import { mapMutations, mapGetters } from 'vuex'

export default {
	name: 'ControlPanel',

	data() {
		return { saveLoading: false }
	},

	computed: {
		saveIcon() {
			if (this.saveLoading) return 'mdi-content-save-settings'

			return this.getChangeStatus() ? 'mdi-content-save-alert' : 'mdi-content-save'
		},
	},

	methods: {
		...mapMutations(['setChangeStatus']),
		...mapGetters(['getChanges', 'getTasksCount', 'getChangeStatus']),

		async saveChanges() {
			try {
				for (let change of this.getChanges().values()) {
					this.saveLoading = true
					await axios.patch(
						`/tasks/${change.id}`,
						JSON.stringify({
							is_checked: change.is_checked,
						}),
						{
							headers: { 'Content-Type': 'application/json' },
						}
					)

					await setTimeout(() => {
						this.saveLoading = false
						this.setChangeStatus(false)
					}, 500)
				}
			} catch (err) {
				console.log(err)
			}
		},
	},
}
</script>
