<template>
	<div class="error-page-container">
		<h1 class="main-text-header">You chose the dark side of the force</h1>

		<div>
			<router-link to="/">
				<v-btn color="primary" class="mr-7 mt-7" @click="() => changeTheme(false)">
					Go to light
				</v-btn>
			</router-link>

			<router-link to="/">
				<v-btn color="primary" class="mt-7" @click="() => changeTheme(true)">
					Stay in dark
				</v-btn>
			</router-link>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ErrorPage',

	methods: {
		changeTheme(isDark) {
			this.$vuetify.theme.dark = isDark

			const theme = isDark ? 'dark' : 'light'
			localStorage.setItem('theme', theme)
		},
	},

	mounted() {
		this.changeTheme(true)
	},
}
</script>

<style lang="scss" scoped>
@import './style';
</style>
