@import '@/common-styles/layouts/default-form-layout';
@import '@/common-styles/fonts/main';

.error-page-container {
	@include form-wrapper();
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 100px;
}

.main-text-header {
	@include mainText();
	text-align: center;
}