<template>
	<v-app :style="`background-color: ${bgColor};`">
		<router-view />
	</v-app>
</template>

<script>
export default {
	name: 'App',

	computed: {
		bgColor() {
			return this.$vuetify.theme.isDark ? '#313131' : '#d3d3d3'
		},
	},

	mounted() {
		if (localStorage.getItem('theme') === 'dark') {
			this.$vuetify.theme.dark = true
		} else this.$vuetify.theme.dark = false
	},
}
</script>

<style lang="scss">
@import '@/global-styles/fonts';

$bodyColor: #d3d3d3;
$bodyColor: #313131;

body {
	margin: 0;
	padding: 0;
	width: 100vw;
}

.v-application--wrap {
	overflow: hidden;
}
</style>
