<template>
	<main class="content">
		<ControlPanel />

		<router-view></router-view>

		<v-pagination
			v-if="pageCount > 1"
			v-model="page"
			:length="pageCount"
			:total-visible="7"
			class="mb-10"
		>
		</v-pagination>
	</main>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import ControlPanel from '../control-panel'

export default {
	name: 'ContentForm',

	components: { ControlPanel },

	data() {
		return {
			snackbar: false,
			page: +this.$route.params.page,
			saveLoading: false,
			count: 1,
		}
	},

	computed: {
		pageCount() {
			return Math.ceil(this.getTasksCount() / this.showCount)
		},

		showCount() {
			return this.getShowCount()
		},
	},

	watch: {
		page: function() {
			this.$router.push(`/tasks/${this.page}`)
		},

		$route() {
			this.page = +this.$route.params.page
		},
	},

	methods: {
		...mapGetters(['getTasksCount', 'getShowCount']),
		...mapMutations(['setShowCount']),

		cdCount() {
			this.setShowCount(3)
		},
	},
}
</script>

<style lang="scss" scoped>
@import './style';
</style>
