.content {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.task-list {
	margin-bottom: 20px;
	padding: 16px;
	background-color: #fff;
}

.control-panel {
	padding: 0 40px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 4px;
}

.control-panel__el {
	&:first-child {
		margin-right: 4px;
	}
}
