<template>
	<TasksLayout>
		<template v-slot:header>
			<HeaderForm />
		</template>

		<template v-slot:content>
			<ContentForm />
		</template>
	</TasksLayout>
</template>

<script>
import TasksLayout from '../../components/layout'
import ContentForm from '../../components/content-form'
import HeaderForm from '../../components/header-form'

export default {
	name: 'TasksView',

	components: { TasksLayout, ContentForm, HeaderForm },
}
</script>
