<template>
	<div class="form-container">
		<h1 class="page-title">Create a new task!</h1>

		<TaskForm />
	</div>
</template>

<script>
import TaskForm from '../../components/create-form'

export default {
	name: 'TaskConstructor',
	components: { TaskForm },
}
</script>

<style lang="scss" scoped>
@import '@/common-styles/layouts/default-form-layout';
@import '@/common-styles/fonts/main';

.form-container {
	@include form-wrapper();
	@include mainText();
	flex-direction: column;
	justify-content: flex-start;
}

.page-title {
	@include mainText();
	margin-top: 40px;
	margin-bottom: 20px;
}
</style>
